/* Réinitialisation des styles par défaut pour tous les éléments */
* {
	box-sizing: border-box;
}

/* Défilement fluide pour les liens d'ancrage du menu*/
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

/* Styles de base pour le corps de la page */
body {
	min-width: 320px;
	margin: 0;
	background: var(--noir-fonce);
	color: var(--lin-doux);
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	overflow-x: hidden;
}

/* Réinitialisation des styles pour les liens et boutons */
a {
	color: inherit;
	text-decoration: none;
}

button {
	font: inherit;
}

/* Classe pour empêcher le défilement lorsque la modale et le menu sont ouverts */
.modal-is-open {
	overflow: hidden;
}

.menu-is-open {
	overflow: hidden;
}
